@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
  

.sidebar {
  height: 100%;
  width: 250px;
  background-color: white;
}

.main {
  display: flex;
  flex-direction: row;

}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

#companyContainer {
  width: 80%;
  height: 20%fit-content;
  border-radius: 3px;
  border: 2px solid Black;
  padding: 20px 14;
  /* margin: 20px 20px 20px 20px; */
  /* background: #A4D3EE; */
  overflow: visible;
  box-shadow: 5px 5px 2px #888888;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#closeButton {
    position: absolute;
    background: red;
    color: whitesmoke;
    top: -10px;
    right: -10px;
}

.fd {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.footer {
  background-color: black;
  background-image: none;
  background-position: var(--theme-footer-background-position);
  background-repeat: var(--theme-footer-background-repeat);
  border-top: var(--theme-footer-background-border-top);
  background-size: var(--theme-footer-background-size);
  color: var(--theme-footer-text-color);
  padding-top: var(--theme-footer-padding-top);
  padding-bottom: var(--theme-footer-padding-bottom);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  width: 100%;
}
.footer-container {
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
  padding: var(--su32) var(--su12) var(--su12) var(--su12);
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box; 
}

.footer-logo {
  flex: 0 0 64px;
  margin: calc(var(--su12) * -1) 0 var(--su32) 0;
}

.footer-nav {
  display: flex;
  flex: 2 1 auto;
  flex-wrap: wrap;
}

.footer-block {
  padding: 0 var(--su12) var(--su24) 0;
  flex: 1 0 auto;
}

.footer-topic {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: var(--su12);
  color: var(--theme-footer-title-color);
  line-height: var(--lh-md);
  margin-top: 0;
}

.footer-ul {
  margin: 0;
  list-style: none;
}
.footer-subtopic {
  color: var(--theme-footer-link-color);
  padding: var(--su4) 0;
  line-height: var(--lh-md);
  display: inline-block;
  text-decoration: none;
  --_li-fc: var(--theme-link-color);
  --_li-fc-hover: var(--theme-link-color-hover);
  --_li-fc-visited: var(--theme-link-color-visited);
}

.footer-social {
  flex: 1 1 150px;
  display: flex;
  flex-direction: column;
  font-size: var(--fs-fine) !important;
}

.footer-sub-social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
